.login-parent {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 2px;
    place-items: center;

    .login-left {
        width: 100%;
        height: 100vh;
        background-color: #95bce2;
    }

    .login-right {
        width: 100%;
        height: 100vh;
        background-color: #022c5b;
        justify-content: center;
        align-content: center;
        align-items: center;

        .login-form {
            border: 1px solid;
            border-radius: 5px;
            background-color: #95bce2;
            color: #022c5b;
            position: relative;
            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
        }
    }
}